* {
    color: white;
    font-family: "Consolas", sans-serif;
}

body {
    background-color: rgb(23, 16, 66);
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 5rem;
}

h2 {
    text-transform: uppercase;
    font-style: italic;
    font-size: 3rem;
}

h3 {
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
}

section {
    border-radius: 15px;
}

#hkiy {
    background-color: rgb(65, 39, 5);
}

#ide {
    background-color: crimson;
}

h4 {
    text-align: right;
    text-transform: uppercase;
    font-size: 2rem;
}

a {
    text-decoration: none;
    font-size: 25px;
    border-radius: 10px;
    background-color: black;
    padding: 10px;
}

#message {
    text-align: center;
}

p {
    font-size: 22px;
}